<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel = "stylesheet" type = "text/css" href = "../stylesheets/style.css"/>
    </head>
    <body>
        <ul class = "header">
            <a href="/"><li class = "home">Home</li></a>
            <li class = "about">About</li>
            <a href="/cart"><li class = "cart">🛒 Cart</li></a>
            <li class = "login">Login/signUp</li>
            <li class = "search-container">
                <input type="text" placeholder="Search store" name="search">
                <button type="submit"><i class="fa fa-search"></i>🔍</button>
            </li>
        </ul>

        <% {title} %>
        <h1 class = "title">Products</h1>
        <h2 class = "subTitle"><%= products[0].Category %></h2>
                
        <div class="content2">
        <% for(let i = 0; i < products.length; i++) { %>

        <div class="content2-i">
        <div class = "contentImg"><img width = 200px src = "<%= products[i].Picture %>"></div>
                <h6 class = "productName"><%= products[i].Name %></h6>
                    <p class = "description"><%= products[i].Description %></p>
                    <p class = "price">$<%= products[i].Price %></p>
                <!--<p2><%= products[i].QTY %></p>!--><form action="/product/add-to-cart/<%= products[i]._id %>" >
                    <button class="productButton">Add to Cart</button>
                </form>

                </div>
                <% } %>
</div>

        <ul class = "footer">
                <li>Contact</li>
                <li>Help</li>
            </ul>
    </body>
</html>

