  
<html>
    <head>
<style>

</style>
    </head>
    <body>
        <% {title} %>
        <a href="/">Main</a>
        <h1>Products</h1>
        <h2><%= products[0].Category %></h2>
        


        
        <% for(let i = 0; i < products.length; i++) { %>

       
                <img width = 200px src = "<%= products[i].Picture %>">
                
                <p2 ><%= products[i].Name %></p>
                    <p3><%= products[i].Description %></p>

                    <p><%= products[i].Price %></p>
                <p2><%= products[i].QTY %></p>
                
                

            <% } %>

        </form>
    </body>
</html>

